<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            @{ Html.RenderAction("GetListCategories", "Default");}
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        @{ Html.RenderAction("GetFeaturedCategory", "Default");}
    </div>
</section>
<!-- Featured Section End -->
<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="~/Uploads/img/banner/banner-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="~/Uploads/img/banner/banner-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            @{Html.RenderAction("GetLastestProduct", "Default");}
            @{Html.RenderAction("GetTopProduct", "Default");}
            @{Html.RenderAction("GetReviewProduct", "Default");}
        </div>
    </div>
</section>
<!-- Latest Product Section End -->
<!-- Blog Section Begin -->

@{ Html.RenderAction("GetBlogs", "Default");}
<!-- Blog Section End -->
@section Scripts {
    <script>
        
    // L?y URL c?a trang hi?n t?i
    var url = window.location.href;

    // Tìm t?t c? các th? <a> trong thanh menu
    var links = document.querySelectorAll('.header__menu a');

    // Duy?t qua t?ng th? <a>
    links.forEach(function (link) {
        // N?u href c?a th? <a> trùng v?i URL c?a trang hi?n t?i
        if (link.href === url) {
            // Thêm l?p "active" vào th? <a>
            link.classList.add('active');

            // Thêm l?p "active" vào th? cha c?a th? <a>
            var parent = link.parentElement;
            parent.classList.add('active');
        }
    });
    </script>
}