@model IEnumerable<WebDemo.Models.Blogs>

<!-- Related Blog Section Begin -->
<section class="related-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related-blog-title">
                    <h2>Những Post khác mà bạn có thể thích</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var i in Model)
            {
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="~/Uploads/img/blog/@i.img" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li>Tác giả: @i.author</li>
                                <li>@i.dateupload</li>
                                <h5><a href="/blog/@i.meta/@i.id">@i.name</a></h5>
                                <p>@i.description </p>
</div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- Related Blog Section End -->
