
    <div class="hero__search__categories">
        Loại tìm kiếm
        <span class="arrow_carrot-down"></span>
    </div>

    <ul>
        <li><a href="/">Gian hàng</a></li>
        <li><a href="/">Blog</a></li>
    </ul>