@model IEnumerable<WebDemo.Models.Carts>

<div class="header__cart">
    <ul>
        <li>
            <a href="/san-pham-yeu-thich">
                <i class="fa fa-heart"></i>
                <span>
                    @{
                        var numFavorite = ViewBag.FavoriteProducts == null ? 0 : ViewBag.FavoriteProducts;
                        @numFavorite
                    }
                </span>
            </a>
        </li>
        <li>
            <a href="/lich-su-mua-hang">
                <i class="fa fa-history"></i>
                <span>
                    @{
                        var numHistory = ViewBag.OrderHistory == null ? 0 : ViewBag.OrderHistory;
                        @numHistory
                    }
                </span>
            </a>
        </li>

        <li>
            <a href="/gio-hang">
                <i class="fa fa-shopping-bag"></i> <span>
                    @{
                        var numShopping = Model == null ? 0 : Model.Count();
                        @numShopping
                }
            </span>
        </a>
    </li>
    </ul>
    <div class="header__cart__price">Sản phẩm: <span>
    @{
        var total = (double?)0;
        if (Model != null)
        {
            foreach (var item in Model)
            {
                total += item.Price;
            }
            @total
        }
        else
        {
            @total

        }
    } VNĐ
</span></div>
</div>